html {
    background: rgb(69,196,176);
    background: linear-gradient(180deg, rgba(69,196,176,1) 0%, rgba(255,255,255,1) 77%);
    background-position: center;
    background-attachment: fixed;
    font-family: "Comfortaa";
    color: #012030;
    
    
}

body {
    margin: 0%;
}

.sek1 {
    display: flex;
    justify-content: center;
    
    /* align-items: stretch; */
    /* margin-left: 5%; */
    
}
.nawigacja {
    background-color: #DAFDBA;
    width: 13em;
    height: 3em;
    display: flex;
    justify-content: center;
    margin-bottom: 6%;
    
    align-items: center;
    
    font-size: 1em;
    font-weight: 400;
    box-shadow: 3px 3px 5px #9da9a1;
    /* text-shadow: 3px 3px 10px black; */
    color: #012030;
    
    
}

a {
    text-decoration: none;
}

.nawigacja:hover {
    opacity: 0.8;
    transition: ease-in-out 0.5s;

    
}





ul {
    display: flex;
    flex-wrap: wrap;
    padding: 0;
    
    
}

.sek2 {
    /* font-family: Verdana, Tahoma, sans-serif; */
    font-size: 30px;
    font-weight: 400;
    /* border-radius: 6px; */
    background-color: rgba(218, 253, 186, 0.6);
    box-shadow: 6px 6px 10px #9da9a1;
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: center;
    padding: 5%;
    width: 80%;
    margin: auto;
    /* text-shadow: 3px 3px 10px black; */
    color: #012030;
    

}

#pandka {
    width: 70%;
    margin-left: 20%;
    margin-top:  5%;
    
    
}

#lorem1 {
    /* text-shadow: 3px 3px 10px black; */
    color: #012030;
    font-size: 30px;
}

p {
    /* padding: 5%; */
    /* background-color: #9da9a1; */
    margin: 5%;
}

#lorem2 {
    background-color: rgba(218, 253, 186, 0.6);
    box-shadow: 6px 6px 10px #9da9a1;
    padding: 5%;
    /* border-radius: 5px; */
    
    color: #012030;
}

#panda1, #panda2, #panda3, #panda4, #panda5 {
    width: 90%;
    margin: 2%;
    background-color: rgba(218, 253, 186, 0.6);
    box-shadow: 6px 6px 10px #9da9a1;
    padding: 2%;
}


.galeria {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin: 5%;
    
}

.galeriatytul {
    font-size: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #DAFDBA;
    padding: 1%;
    box-shadow: 6px 6px 10px #9da9a1;
    overflow: hidden;
    /* position: sticky; */
    position: fixed;
    width: 100%;
    top: 0;
    margin: 0%;
    font-weight: 600;
    
    
}

footer {
    background-color: #DAFDBA;
    box-shadow: 6px 6px 10px #9da9a1;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    padding: 2%;
}

#ara {
    width: 40%;
    height: fit-content;
    box-shadow: 6px 6px 10px #9da9a1;
    
    
}

#corgi {
    width: 40%;
    box-shadow: 6px 6px 10px #9da9a1;
}

#panda_ranking {
    width: 40%;
    box-shadow: 6px 6px 10px #9da9a1;
}

.ranking_adopcja {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 7%;
}

.ranking_adopcja_opis {
    display: flex;
    /* float: left;
    justify-content: center;
    align-items: center; */
    flex-wrap: wrap;
    justify-content: center;
    
    width: 90%;
    padding: 3%;
    margin: 3%;
    background-color: rgba(218, 253, 186, 0.6);
    box-shadow: 6px 6px 10px #9da9a1;
}

.tekst_wrap {
    width: 40%;
    height: fit-content;
    margin: 2%;
}

.ranking_opis:hover {

    background-color: rgba(218, 253, 186, 1);
    width: 93%;
    transition: ease-in-out 0.5s;

}

form {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 10%;
}

input[type=text], input[type=email] {
    width: 80%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
  }

  #message {
    padding-bottom: 60px;
    padding-right: 60px;
  }
  
  input[type=submit] {
    width: 80%;
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  input[type=submit]:hover {
    background-color: #45a049;
  }

  #kot1 {
    width: 40%;
    height: fit-content;
    box-shadow: 6px 6px 10px #9da9a1;
  }

  #kot2 {
    width: 40%;
    box-shadow: 6px 6px 10px #9da9a1;
  }

  #kot3 {
    width: 40%;
    box-shadow: 6px 6px 10px #9da9a1;
  }
  
  /* div {
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 20px;
  } */

  .podium {
    font-size: 20px;
    margin: 0;
    font-weight: 600;
    margin-bottom: 2%;
    margin-top: 2%;
  }

@media screen and (max-width: 1200px){
   .ranking_opis {
        flex-direction: column;
        justify-content: center;
        align-items: center;

   }

   .tekst_wrap {
    width: 90%;
   }

   #ara, #corgi, #panda_ranking, #kot1, #kot2, #kot3 {
    width: 90%;
   }


    
}



@media screen and (max-width: 900px){
    ul {
        flex-direction: column;
}

.sek1 {
    align-items: center;
    justify-content: center;
    

}
    .nawigacja {
        width: 18em;
    }

    .galeriatytul {
        font-size: 22px;
        
        
    }

    .galeria {
        margin-top: 4rem;
        
    }

    
}

@media screen and (max-width: 800px){
    .sek2 {
        margin: auto;
        /* display: flex;
        justify-content: center; */
    }

    .ranking_adopcja {
        margin-top: 12%;
    }
}

@media screen and (max-width: 415px){
    .ranking_opis{
        margin-top: 15%;
    }
}















